<%= render 'shared/errors', variable: @question %>

<%= form_with model: @question do |f| %>
	<div class="mb-3">
		<%= f.label :title, class: "form-label", for: "exampleFormControlInput1"%>
		<%= f.text_field :title, placeholder: 'Title', class: "form-control", id: "exampleFormControlInput1"  %>
	</div>
	<div class="mb-3">
		<%= f.label :body, class: "form-label", for: "exampleFormControlTextarea1" %>
		<%= f.text_area :body, placeholder: 'Body', class:"form-control", id: "exampleFormControlTextarea1", rows: "3" %>
	</div>
	<%= f.submit "Send question", class: "btn btn-outline-success" %>
<% end%>