<%= form_with model: [@question, @answer] do |f| %>
	<div class="mt-3">
		<h4>Edit your answer</h4> 
	</div>
	<div>
		<%= render 'shared/errors', variable: @answer, class: 'mb-3' %>
	</div>
	<div class="mb-3">
		<div>
			<%= f.label :body, class: "form-label", for: "exampleFormControlInput1", hidden: true%>
		</div>

		<div>
			<%= f.text_area :body, class:"form-control", id: "exampleFormControlTextarea1", rows: "3" %>
		</div>
	</div>

	<%= f.submit "Send updated answer", class: 'btn btn-outline-dark btn-sm' %>
<% end %>