<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AskIt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="bg-dark">
    <%= render 'shared/navbar' %>
  </header>
  <body>
    <div class = "container mt-3">
      <%= render 'shared/flash' %>
    </div>
      <main class = "container mt-3">
        <%= yield %>
      </main>
  </body>
</html>
